<!DOCTYPE html>
<html>
<head>
    <title>User ID Input</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin-top: 50px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        input[type="number"] {
            padding: 10px;
            border: none;
            width: 500px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        button[type="submit"] {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <h1>Enter User ID</h1>
    <form action="http://localhost:3000/user" method="get">
        <input type="number" name="id" min="1" max="10" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>